@import '../../styles/style.scss';

.edit-modal {
	// margin: 0 auto;
	padding: 0;
	border-radius: 18px;
	background-color: #726e6e;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
	&.open {
		opacity: 1;
		padding: 50px;

		gap: 20px;
		visibility: visible;
	}

	&__title {
		color: #fff;
		font-size: 25px;
		font-weight: 500;
		text-align: center;
	}

	&__close {
		background-color: inherit;
		height: 25px;
		width: 25px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		// justify-content: center;
		align-items: center;
		gap: 20px;
		margin-bottom: 15px;
	}

	&__input {
		width: 100%;
		padding: 10px 25px;
		border-radius: 8px;
	}

	&__sumbit {
		background-color: #d3d1d1;
		padding: 10px;
		width: 100%;
		border-radius: 8px;
		transition: all 0.3s;
		font-weight: 500;

		@media (any-hover: hover) {
			&:hover {
				background-color: #eaeaea;
			}
		}

		&:focus {
			box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
		}
	}
}
