@import '../../styles/style.scss';

.swiper {
	color: #fff;
	padding: 30px 0 130px 0;
	&__text {
		max-width: toRem(600);
		@include adaptiveValue('padding-right', 85, 50);
		@include adaptiveValue('padding-left', 85, 50);
		@media (max-width: em(425)) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&__title {
		@include adaptiveValue('font-size', 110, 50);
		margin-bottom: toRem(38);
		line-height: 93%;
	}

	&__sub-title {
		font-size: toRem(18);
		font-weight: 300;
		line-height: 160%;
		margin-bottom: toRem(40);
	}

	&__button {
		padding: toRem(16) toRem(45);
		background-color: #f57520;
		border-radius: toRem(10);
		transition: background-color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background-color: #f2a02c;
			}
		}
	}
}

.swiper-button-prev:after,
.swiper-button-next:after {
	color: #f57520 !important;
	@media (max-width: em(425)) {
		display: none;
	}
}

.swiper-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 20px;
}

.swiper-pagination-bullet {
	background-color: #f57520;
	width: 10px;
	height: 10px;
	@media (min-width: em(425)) {
		display: none;
	}
}
.swiper-pagination-bullet-active {
	width: 15px;
	height: 15px;
}
